.image {
  width: 5rem;
  display: grid;
}
.header {
  display: flex;
  gap: 2rem;
}
.header h1 {
  font-size: 1.5rem;
}
.home {
  display: flex;
  gap: 2rem;
}
.container {
  display: grid;
  height: 70vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.message {
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  border-radius: 2%;
  margin-bottom: 1rem;
}
.player {
  display: grid;
  gap: 1rem;
}
.result {
  display: flex;
  align-items: center;
}
.transform {
  transform: rotate(-45deg);
}
.choice {
  width: 5rem;
  display: grid;
  background-color: silver;
  border-radius: 10%;
}
.refresh {
  width: 100%;
  display: flex;
  justify-content: center;
}
.refresh img {
  width: 3rem;
}
